VITE_MODO_API=mock
VITE_URL_API_COMERCIAL=https://api.sicamed.co/comercial
VITE_URL_API_CLINICA=https://api.sicamed.co/clinico
VITE_MODO_AUTH=mock
VITE_PERFIL_DEMO=SUPER_ADMIN
VITE_OIDC_AUTORIDAD=https://auth.sicamed.co/realms/sicamed
VITE_OIDC_CLIENTE=sicamed-web
VITE_CLOUDFLARE_ACCESS_EQUIPO=sicamed
VITE_URL_PUBLICA=https://sicamed.co
