VITE_MODO_API=mock
VITE_URL_API=http://localhost:8080
VITE_URL_API_ORIGEN=
VITE_URL_API_IDENTIDAD=
VITE_MODO_AUTH=servidor
VITE_TOKEN_DESARROLLO=
VITE_PERFIL_DEMO=SUPER_ADMIN
VITE_OIDC_AUTORIDAD=http://localhost:8081/realms/sicamed
VITE_OIDC_CLIENTE=sicamed-frontend
VITE_OIDC_REDIRECCION=/acceso
VITE_TURNSTILE_CLAVE_SITIO=
VITE_CLOUDFLARE_ACCESS_EQUIPO=sicamed
VITE_URL_UBICACION_IP=
VITE_MODELO_AURORA=

VITE_URL_PUBLICA=https://sicamed.com.co
